<mat-card *ngIf="form">
  <form [formGroup]="form" fxLayout="column">
    <mat-form-field fxFlex>
      <input matInput autofocus placeholder="Nome" formControlName="nome" />
      <mat-error> </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-select placeholder="Sexo" formControlName="sexo">
        <mat-option value="Masculino"> Masculino </mat-option>
        <mat-option value="Feminino"> Feminino </mat-option>
      </mat-select>
      <mat-error> </mat-error>
    </mat-form-field>
  </form>
  <mat-card-actions>
    <button mat-raised-button color="secondary" (click)="back.emit()">
      Voltar
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="save()"
    >
      Salvar
    </button>
  </mat-card-actions>
</mat-card>
